@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;800&display=swap");

*,
*::before,
*::after {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: "Poppins", sans-serif;
    background-color: #333;
}

::selection {
    background-color: #0b372dbb;
}

.logo {
    width: 100px;
}


/* to add to a unique file */
header {
    position: absolute;
    z-index: 9999;
    width: 100%;
    padding: 0.9rem 0;
    top: 0;
    left: 0;
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}

header nav {
    max-width: 1400px;
    margin: 0 auto;
    padding: 0 2rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header ul {
    display: flex;
    list-style: none;
    align-items: center;
}

header ul a {
    text-decoration: none;
    color: #fff;
    padding: 0 1.5rem;
    text-transform: uppercase;
    font-weight: 300;
    font-size: 0.83rem;
}

/* end add unique file */
.search a {
    font-size: 1.05rem;
    padding: 0 3rem;
}

.hamburger {
    padding-left: 1.5rem;
}

.hamburger a {
    padding: 0;
    width: 37px;
    height: 37px;
    display: flex;
    border-radius: 50%;
    background-color: rgba(115, 115, 115, 0.7);
    backdrop-filter: blur(10px);
    --webkit-backdrop-filter: blur(10px);
    justify-content: center;
    align-items: center;
}

.hamburger .bar {
    position: relative;
    width: 52%;
    height: 1.3px;
    background-color: white;
    border-radius: 2px;
}

.hamburger .bar::before,
.hamburger .bar::after {
    content: "";
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    width: 60%;
    height: 100%;
    background-color: inherit;
    border-radius: 2px;
}

.hamburger .bar::before {
    top: -4.5px;
}

.hamburger .bar::after {
    top: 4.5px;
}

main {
    position: relative;
    /* background-color: #353; */
    height: 100vh;
    width: 100vw;
    overflow: hidden;
}

.parallax {
    pointer-events: none;
    transition: 0.45s cubic-bezier(0.2, 0.49, 0.32, 0.99);
}

.bg-img {
    position: absolute;
    width: 194.44%;
    top: 1.86%;
    left: 50.69%;
    z-index: 1;
}

.fog-7 {
    position: absolute;
    z-index: 2;
    width: 1900px;
    top: calc(50% - 100px);
    left: calc(50% + 300px);
}

.mountain-10 {
    position: absolute;
    z-index: 3;
    width: 892px;
    top: calc(50% + 69px);
    left: calc(50% + 230px);
}

.fog-6 {
    position: absolute;
    z-index: 4;
    width: 1610px;
    top: calc(50% + 255px);
    left: calc(50% - 100px);
}

.mountain-9 {
    position: absolute;
    z-index: 5;
    width: 470px;
    top: calc(50% + 113px);
    left: calc(50% - 457px);
}

.mountain-8 {
    position: absolute;
    z-index: 6;
    width: 810px;
    top: calc(50% + 86px);
    left: calc(50% - 202px);
}

.fog-5 {
    position: absolute;
    z-index: 7;
    width: 450px;
    top: calc(50% + 160px);
    left: calc(50% + 20px);
}

.mountain-7 {
    position: absolute;
    z-index: 8;
    width: 538px;
    top: calc(50% + 123px);
    left: calc(50% + 305px);
}

.text {
    position: absolute;
    z-index: 9;
    top: calc(50% - 130px);
    left: 50%;
    text-align: center;
    text-transform: uppercase;
    color: white;
    pointer-events: auto;
}

.text h2 {
    font-weight: 100;
    font-size: 6.5rem;
}

.text h1 {
    font-weight: 800;
    font-size: 8rem;
    line-height: 0.88;
}

.mountain-6 {
    position: absolute;
    z-index: 10;
    width: 408px;
    top: calc(50% + 60px);
    left: calc(50% + 600px);
}

.fog-4 {
    position: absolute;
    z-index: 11;
    width: 590px;
    top: calc(50% + 223px);
    left: calc(50% - 60px);
}

.mountain-5 {
    position: absolute;
    z-index: 12;
    width: 625px;
    top: calc(50% + 250px);
    left: calc(50% + 130px);
}

.fog-3 {
    position: absolute;
    z-index: 13;
    width: 1600px;
    top: calc(50% + 110px);
    left: calc(50% + 150px);
}

.mountain-4 {
    position: absolute;
    z-index: 14;
    width: 780px;
    top: calc(50% + 196px);
    left: calc(50% + 381.5px);
}

.mountain-3 {
    position: absolute;
    z-index: 15;
    width: 538px;
    top: calc(50% + 123px);
    left: calc(50% + 905px);
}



.fog-2 {
    position: absolute;
    z-index: 16;
    width: 538px;
    top: calc(50% - 123px);
    left: calc(50% + 305px);
}

.mountain-2 {
    position: absolute;
    z-index: 17;
    width: 538px;
    top: calc(50% + 180px);
    left: calc(50% - 350px);
}

.mountain-1 {
    position: absolute;
    z-index: 18;
    width: 530px;
    top: calc(50% + 17px);
    left: calc(50% - 750px);
}

.sun-rays {
    position: absolute;
    z-index: 19;
    width: 595px;
    top: 0;
    right: 0;
    pointer-events: none;
}

.black_shadow {
    position: absolute;
    z-index: 20;
    bottom: 0;
    right: 0;
    width: 100%;
    pointer-events: none;
}

.fog-1 {
    position: absolute;
    z-index: 21;
    width: 2600px;
    top: calc(100% - 355px);
    left: 50%;
}

.vignette {
    position: absolute;
    z-index: 100;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: red;
    background: radial-gradient(ellipse at center, rgba(0, 0, 0, 0) 65%, rgba(0, 0, 0, 0));
    pointer-events: none;
}

.ground-plant {
    width: 100vw;
    position: absolute;
    bottom: 0;
    z-index: 99;
}



@media (max-width : 1100px) {
    .text h1 {
        font-size: 5.8rem;
    }

    .text h2 {
        font-size: 4.7rem;
    }
}

@media (max-width : 725px) {
    .text h1 {
        font-size: 5rem;
        line-height: 1.1;
    }

    .text h2 {
        font-size: 4.1rem;
        line-height: 1.1;
    }

    header nav {
        padding: 0 1rem;
    }

    .logo {
        width: 75px;
    }

    header ul a {
        font-size: 0.73rem;
        padding: 0 0.9rem;
    }

    .search a {
        font-size: 0.85rem;
        padding: 0 1.8rem;
    }

    .hamburger {
        padding-left: 0.9rem;
    }

    .hamburger a {
        height: 30px;
        width: 30px;
    }
}

@media (max-width : 520px) {
    .text h1 {
        font-size: 3.3rem;
    }

    .text h2 {
        font-size: 2.6rem;
    }
}


/* section 2 */

#slide-2 h2 {
    font-size: 60px;
    font-weight: 900;
    line-height: 85%;
    border-left: 3px solid #ff98a7;
    padding: 25px;
    margin: 0;
}

#slide-2 h2 span {
    display: block;
}

#slide-2 h3 {
    font-size: 20px;
    font-stretch: expanded;
    color: #ff98a7;
    line-height: 100%;
}

#slide-2 h2,
#slide-2 h3,
#slide-2 h4 {
    text-transform: uppercase;
}

html {
    scroll-behavior: initial;
    overflow: hidden;
}

html,
body {
    width: 100%;
    min-height: 100%;
}

.col {
    width: 50%;
}

#image_kong {
    height: 30rem;
    /* height: 50vh; */
}

.page-content {
    background-color: white;
}

#slide-2 {
    height: 200vh;
    width: 100vw;
    padding: 50px 0;
}

.vertical__content {
    display: flex;
    justify-content: center;
    align-items: flex-start;
}

.vertical__content .col_left {
    height: 100%;
}

.vertical__content .col_right {
    width: 40%;
}

.vertical__item:not(:last-child) {
    margin-bottom: 240px;
}


#horizontal {
    padding: 100px 0;
}

.horizontal__content {
    display: flex;
}

.horizontal__item {
    border: 1px solid #efefef;
    padding: 200px 150px;
}

.horizontal__item:not(:last-child) {
    margin-right: 50px;
}

.horizontal__num {
    font-size: 80px;
    font-weight: 900;
    font-stretch: condensed;
    color: #ff98a7;
}



/* Overlaping Cards */

#overlaping-cards .cards {
    height: 70vh;
    width: 90%;
    margin: auto;
    position: relative;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

#overlaping-cards .card {
    position: absolute;
    width: 60%;
    height: 70vh;
    background-color: #f1f1f1;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 7px;
    margin-bottom: 50px;
}

#overlaping-cards .card-1 {
    left: 0;
    top: 0;
}

#overlaping-cards .card-2 {
    left: 35px;
    top: 35px;
}

#overlaping-cards .card-3 {
    left: 70px;
    top: 70px;
}

#overlaping-cards .card-4 {
    left: 105px;
    top: 105px;
}