* {
    font-family: "Poppins", sans-serif;
}

body {
    background-image: url("./bg.jpg");
    background-color: #cccccc;
    background-size: cover;
}

#card-animation {
    position: absolute;
    top: 0;
    z-index: -1;
}

#question-card {
    height: 40rem;
    border-radius: 20px;
    padding: 5rem;
}

@keyframes bang {
    from {
        transform: translate3d(0, 0, 0);
        opacity: 1;
    }
}